body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f2f2f2, #e0e0ff);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff1c1c;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #aaa;
}

form {
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ff1c1c;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff1c1c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

img .pokemon-img {
    margin-top: 20px;
    width: 150px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

p {
    font-size: 1.1em;
    color: red;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #ff1c1c;
}

