<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Pokedex</title>
</head>
<body>
    <main>
    <div class="contenedor-img">
        <img src="{% static "images/Pokedex.png" %}" alt="Pokedex" class="pokedex">
    </div>
    <h1>Pokedex</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="pokemon" placeholder="Enter Pokémon name">
        <button type="submit">Search</button>
    </form>
    {% if data.Nombre and data.Número %}
        <h2>{{ data.Nombre }}</h2>
        <img src="{{ data.sprite }}" alt="{{ data.Nombre }} class="pokemon-img"">
        <ul>
            <li>Numero: #{{ data.Número }}</li>
            <li>Altura: {{ data.Altura }}</li>
            <li>Peso: {{ data.Peso }}</li>
            <li>Tipo: {{ data.Tipo|join:", " }}</li>
        </ul>
    {% elif data.error %}
        <p style="color: red;">{{ data.error }}</p>
    {% endif %}
    </main>
</body>
</html>