<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokedex</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="pokemon" placeholder="Enter Pokémon name">
        <button type="submit">Search</button>
    </form>
    {% if data.name and data.number %}
        <h2>{{ data.name }}</h2>
        <img src="{{ data.sprite }}" alt="{{ data.name }}">
        <ul>
            <li>Numero: #{{ data.number }}</li>
            <li>Altura: {{ data.height }}</li>
            <li>Peso: {{ data.weight }}</li>
            <li>Tipo: {{ data.types|join:", " }}</li>
        </ul>
    {% elif data.error %}
        <p style="color: red;">{{ data.error }}</p>
    {% endif %}
</body>
</html>